header(class="header page__header")
  div(class="header__wrapper")
    button(class="btn header__btn header__btn--menu")
    div(class="header__logo")
      a(class="header__link" href="#")
        img(class="header__image" src="./img/newconomy-no-slogan-logo-white.svg" alt="Logo Newconomy from text" width="150" height="50")
    button(class="btn header__btn header__btn--search")
  include nav/nav
  include search/search
