div(class="search header__search")
  button(class="btn search__btn search__btn--close")
  div(class="search__wrapper")
    input(class="search__field" type="text" placeholder="Search...")
    button(class="btn search__btn search__btn--find")