nav(class="nav header__nav")
  ul(class="menu nav__list")
    li(class="news menu__item menu__item--current")
      a(class="news__link menu__link" href="#") News
      ul(class="submenu news__list")
        li(class="submenu__item")
          a(class="submenu__link" href="#") Exchanges
        li(class="submenu__item")
          a(class="submenu__link" href="#") STO
        li(class="submenu__item")
          a(class="submenu__link" href="#") Mining
        li(class="submenu__item")
          a(class="submenu__link" href="#") Legal
        li(class="submenu__item")
          a(class="submenu__link" href="#") Analytics
    li(class="menu__item")
      a(class="menu__link" href="#") Market
    li(class="menu__item")
      a(class="menu__link" href="#") People
    li(class="menu__item")
      a(class="menu__link" href="#") Ranking
    li(class="menu__item")
      a(class="menu__link" href="#") Guides
    li(class="menu__item menu__item--live")
      a(class="menu__link menu__link--live" href="#") Live